Binaries
DerivedDataCache
Intermediate
Saved
DebugThirdPersonServer
LinuxNoEditor
WindowsNoEditor
MatchmakingServert
.vscode
.vs
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.zip